<div class="steam-game-pagination">
    <a class="steam-game-button steam-game-firstpage" href="javascript:;" target="_self" onclick="return false"> <%= __('top') %></a>
    <a class="steam-game-button steam-game-previouspage" href="javascript:;" target="_self" onclick="return false"><%= __('prev') %></a>
    <span class="steam-game-pagenum">2 / 3</span>
    <a class="steam-game-button steam-game-nextpage" href="javascript:;" target="_self" onclick="return false"><%= __('next') %></a>
    <a class="steam-game-button steam-game-lastpage" href="javascript:;" target="_self" onclick="return false"><%= __('end') %></a>
</div>